[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./stoctane.cfg

# Path to python file. Can use relative path from here.
python_file = ./Paul.py

# Name of the bot in-game
name = [LULW]koramund

[Details]
developer = michael (discord michael#0046)

description = Complicated code usage situation; I used OpenPaul by GooseFairy to make this. I didn't put this under fork rule because it was intended to be used for ep6 and Goose said I could enter it

fun_fact = this is the first bot I made whose name is not intentionally confusing

github = github.com/michaelb18

language = python